.home-content {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  background-color: white; 
  padding: 20px;
  min-height: 100vh;
} 
 /*
  .home-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 35px;
    background-color: lightgray; 
    padding: 20px;
   min-height: 100vh;
  }*/
 
  .content {
    margin-left: 60px;
    transition: margin 0.3s;
    flex: 1;
  }
  
  